@mixin _toxicity($num) {}

.me-tag { display: inline-block;padding:3px 5px;background:$me-silver-dark;color:#fff; font-size: 12px; border-radius: 4px; line-height: 1;}
//药性标签
.me-tag-hc { }
@each $key,$bg in $wc-map {
  .me-tag-hc-#{$key} {
    background: $bg;
    border-color: darken($bg,10%);
    @if($key != 0) {
      color: lighten($bg,60%);
    }
  }
}
//
//毒性标签
.me-tag-toxicity { }
@for $i from 1 through 5 {
  .me-tag-toxicity-#{$i} {
    $bg : lighten($black,(10 - $i * 1.5) * 10) ;
    background: $bg ;
    color: #FFF;
  }
}
